.button {
    top: -4px;
    position: relative;
    letter-spacing: .2px;
    // font-family: 'Open Sans', sans-serif !important;
    padding: .4em 1.25em .4em;
    font-weight: normal !important;
    text-decoration: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    white-space: nowrap;
    font-size: 0.8rem;
}


.button.black-with-border_green {
    border: 1px solid #129907;
    color: #129907;
}

.button.black-with-border_green:hover {
    background-color: #12B801;
    color: white;
}

.button.green {
    border: 1px solid #129907;
    color: white;
    background-color: #129907;

}

.button.green:hover {
    background-color: #12B801;
}