<div class="join-container">
  <h2 class="title">How do I join?</h2>
  <div class="steps-cover">
    <ul class="steps">
      <li class="step-1">
        <div class="HowItWorks-item">
          <div class="item-info">
            <div class="HowItWorks-item-number"><span>1</span></div>
            <div class="HowItWorks-item-image">
              <img src="assets/step_1.png">
            </div>
            <div class="HowItWorks-item-text">Register with DupliTrade
            </div>
            
          </div>
        </div>
      </li>
      <li class="step-2" data-animation-delay="100">
        <div class="HowItWorks-item">
          <div class="item-info">
            <div class="HowItWorks-item-number"><span>2</span></div>
            <div class="HowItWorks-item-image"><img src="assets/step_2.png"></div>
            <div class="HowItWorks-item-text">Open a brokerage account and link it to DupliTrade</div>
          </div>
          <div class="HowItWorks-arrow-cover">
            <div class="HowItWorks-arrow">
            </div>
          </div>
        </div>
      </li>
      <li class="step-3" data-animation-delay="200">
        <div class="HowItWorks-item">
          <div class="item-info">
            <div class="HowItWorks-item-number"><span>3</span></div>
            <div class="HowItWorks-item-image"><img src="assets/step_3.png"></div>
            <div class="HowItWorks-item-text">Select strategy providers<br>
              to follow and adjust <br> exposure</div>
          </div>
          <div class="HowItWorks-arrow-cover">
            <div class="HowItWorks-arrow">
            </div>
          </div>
        </div>
      </li>
      <li class="step-4" data-animation-delay="300">
        <div class="HowItWorks-item">
          <div class="item-info">
            <div class="HowItWorks-item-number"><span>4</span></div>
            <div class="HowItWorks-item-image"><img src="assets/step_4.png"></div>
            <div class="HowItWorks-item-text">Track and analyze your trading account in real time</div>
          </div>
          <div class="HowItWorks-arrow-cover">
            <div class="HowItWorks-arrow">
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>