<div class="partners-container">
  <div class="partners-wrapper">
    <div class="OurPartners">
      <div class="title">
        <h2 class="OurPartners-title">Our Partner Brokers</h2>
      </div>
      <div class="collapse">
        <div class="column">
          <ul class="OurPartners-logos">
            <li class="OurPartners-logos-item">
              <img src="assets/partners/cmarkets.png">
            </li>
            <li class="OurPartners-logos-item">
              <img src="assets/partners/pepperstone.png">
            </li>
            <li class="OurPartners-logos-item">
              <img src="assets/partners/avatrade.png">
            </li>
            <li class="OurPartners-logos-item">
              <img src="assets/partners/axitrader.png">
            </li>
            <li class="OurPartners-logos-item">
              <img src="assets/partners/fxdd.png">
            </li>
            <li class="OurPartners-logos-item">
              <img src="assets/partners/fxpro.png">
            </li>
            <li class="OurPartners-logos-item">
              <img src="assets/partners/equiti.png">
            </li>
            <li class="OurPartners-logos-item">
              <img src="assets/partners/mexexchange.png">
            </li>
          </ul>
        </div>
      </div>
      <div class="container-button">
        <div  class="cover-button">
          <a href="https://room.duplitrade.com/en/open-trial-account" class="button green create-account">
            Create Account
          </a>
        </div>
      </div>
    </div>
  </div>
</div>